<!DOCTYPE html>
<html id="product" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Skull Biker</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
	
	 <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	
	<!-- circle Menu -->
	<link rel="stylesheet" href="/static/css/circle-menu.min.css">
	<link href="/static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />

	<!--下拉-->
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">


	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/static/js/html5shiv.js"></script>
        <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- /////////////////////////////////////////Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #222;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Skull Biker</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="/">首页</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#product">产品中心</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/case">成功案例</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	<!-- Navigation -->

	<!-- /////////////////////////////////////////Header -->
	<!--<header id="product">-->
		<!--<div class="wrap-header">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-lg-12">-->
						<!--<img src="/static/images/logo.png" alt="">-->
						<!--<div class="intro-text">-->
							<!--<div class="intro-lead-in">Welcome To Our Studio!</div>-->
							<!--<div class="intro-heading">It's Nice To Meet You</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
    <!--</header>-->
	<!-- Header -->
	<div id="c-circle-nav" class="c-circle-nav">
	  <button id="c-circle-nav__toggle" class="c-circle-nav__toggle">
		<span>Toggle</span>
	  </button>
	  <ul class="c-circle-nav__items">
		<li class="c-circle-nav__item">
		  <a href="#" class="c-circle-nav__link">
			<center><img src="/static/images/House.png" /></center>
		  </a>
		</li>
		<li class="c-circle-nav__item">
		  <a href="#" class="c-circle-nav__link">
			<center><img src="/static/images/Facebook.png" /></center>
		  </a>
		</li>
		<li class="c-circle-nav__item">
		  <a href="#" class="c-circle-nav__link">
			<center><img src="/static/images/Pinterest.png" /></center>
		  </a>
		</li>
		<li class="c-circle-nav__item">
		  <a href="#" class="c-circle-nav__link">
			<center><img src="/static/images/Twitter.png" /></center>
		  </a>
		</li>
		<li class="c-circle-nav__item">
		  <a href="#" class="c-circle-nav__link">
			<center><img src="/static/images/Google.png" /></center>
		  </a>
		</li>
	  </ul>
	</div>
	<!-- circle-nav -->


	<!--左侧产品分类-->
	<div class="nav-main">
		<div class="nav-box">
			<div class="nav">
			  <ul class="nav-ul">
				<li><a href="#" class="develop"><span>男上衣</span></a></li>
				<li><a href="#" class="wechat"><span>女上衣</span></a></li>
				<li><a href="#" class="case"><span>男裤</span></a></li>
				<li><a href="#" class="news"><span>女裤</span></a></li>
				<li><a href="#" class="contact"><span>制服</span></a></li>
			  </ul>
			</div>
			<div class="nav-slide">
				<div class="nav-slide-o" style="margin-top: 10px;">
					<ul>
						<li><a href="#cool"><span>牛仔</span></a></li>
						<li><a href="#"><span>休闲</span></a></li>
						<li><a href="#"><span>正装</span></a></li>
					</ul>
				</div>
				<div class="nav-slide-o" style="margin-top: 110px;">
					<ul>
						<li><a href="#"><span>连衣裙</span></a></li>
						<li><a href="#"><span>羽绒服</span></a></li>
						<li><a href="#"><span>大衣</span></a></li>
					</ul>
				</div>
				<div class="nav-slide-o" style="margin-top: 200px;">
					<ul>
						<li><a href="#"><span>牛仔裤</span></a></li>
						<li><a href="#"><span>七分裤</span></a></li>
						<li><a href="#"><span>短裤</span></a></li>
						<li><a href="#"><span>休闲裤</span></a></li>
					</ul>
				</div>
				<div class="nav-slide-o" style="margin-top: 300px;">
					<ul>
						<li><a href="#"><span>裙子</span></a></li>
						<li><a href="#"><span>喇叭裤</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="index-page">
	<!-- ////////////Portfolio -->
		<section class="box-content box-style-write" id="portfolio">
			<div class="container">
				<div class="row heading" style="margin-top: 50px;">
					 <div class="col-lg-12">
	                    <h2>明星产品展示</h2>
						<hr class="line01">
	                    <div class="intro">Lorem ipsum dolor sit amet</div>
	                </div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/1.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>男大衣</h4>
							<p class="text-muted">自主设计生产</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/1.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/3.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/4.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/5.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/6.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/7.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/8.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
                </div>
			</div>
		</section>
	<!-- ////////////Portfolio -->
		<section class="box-content box-style" id="cool">
			<div class="container">
				<div class="row heading" style="margin-top: 50px;">
					 <div class="col-lg-12">
	                    <h2>明星产品展示</h2>
						<hr class="line01">
	                    <div class="intro">Lorem ipsum dolor sit amet</div>
	                </div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/1.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>男大衣</h4>
							<p class="text-muted">自主设计生产</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/1.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/3.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/4.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/5.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/6.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/7.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/8.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
                </div>
			</div>
		</section>
	<!-- ////////////Portfolio -->
		<section class="box-content box-style" id="cool2">
			<div class="container">
				<div class="row heading" style="margin-top: 50px;">
					 <div class="col-lg-12">
	                    <h2>明星产品展示</h2>
						<hr class="line01">
	                    <div class="intro">Lorem ipsum dolor sit amet</div>
	                </div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/1.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>男大衣</h4>
							<p class="text-muted">自主设计生产</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/1.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/3.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/4.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/5.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/6.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/7.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 portfolio-item">
						<a href="#" class="portfolio-link" data-toggle="modal">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fa fa-eye fa-3x"></i>
								</div>
							</div>
							<img src="/static/images/8.jpg" class="img-responsive" alt="">
						</a>
						<div class="portfolio-caption center">
							<h4>Round Icons</h4>
							<p class="text-muted">Graphic Design</p>
						</div>
					</div>
                </div>
			</div>
		</section>
	</div>



<!-- jQuery -->
<script src="/static/js/jquery-1.11.3.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/js/agency.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/cbpAnimatedHeader.js"></script>
<script src="/static/js/circleMenu.min.js"></script>

	<!--产品左侧分类-->
<script type="text/javascript">
	$(function(){
	var thisTime;
	$('.nav-ul li').mouseleave(function(even){
			thisTime	=	setTimeout(thisMouseOut,1000);
	})

	$('.nav-ul li').mouseenter(function(){
		clearTimeout(thisTime);
		var thisUB	=	$('.nav-ul li').index($(this));
		if($.trim($('.nav-slide-o').eq(thisUB).html()) != "")
		{
			$('.nav-slide').addClass('hover');
			$('.nav-slide-o').hide();
			$('.nav-slide-o').eq(thisUB).show();
		}
		else{
			$('.nav-slide').removeClass('hover');
		}

	})

	function thisMouseOut(){
		$('.nav-slide').removeClass('hover');
	}

	$('.nav-slide').mouseenter(function(){
		clearTimeout(thisTime);
		$('.nav-slide').addClass('hover');
	})
	$('.nav-slide').mouseleave(function(){
		$('.nav-slide').removeClass('hover');
	})

})
</script>

</body>
</html>